{{ 'arboreal.js' | asset_url | script_tag }}
{{ 'product-sort.js' | asset_url | script_tag }}

<div id="buttons_container">

  <div id="option1_buttons">
  </div>
  
  <div id="option2_buttons">
  </div>
  
  <div id="option3_buttons">
  </div>

</div>


{{ 'sorted-buttons.js' | asset_url | script_tag }}
