/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
    #Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

/* #Page Styles
================================================== */

/* #Media Queries
================================================== */

    @media only screen and (min-width: 767px) {
    #mce-EMAIL { width: 120px; }
  	#dropdown { display: none; }
  	.dropdownwrap { display: block; }
    
    }


	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {
        #marketing-bar { display: none! important; }    
        .flex-direction-nav { display: none! important; }
        #mc-embedded-subscribe { display: none; }
    }

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}
    
    
    /* 800px Width Table Screen size */
    @media screen and (max-width: 800px) { 
    #product-photo-container img { max-width: 364px! important; }    
        }

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
        
    nav.primary select { display: block! important; height: 25px; width: 100%; } 
    	ul#nav { display: none; }  
        #search { display: none; }
  		.dropdownwrap { display: none; }
  		ul#two-column-collectionlist { clear: left; float: left; }

    }

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
        ul#cart { text-align: center! important; }  
        #product-images { display: none! important; }
        #mobile-product { display: block! important; }
        #midpromo, #rightpromo { margin-top: 20px;}
    }

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
        ul#cart { text-align: center! important; }  
        ul#sortme li { margin-bottom: 20px! important; }
        #add { width: 100%;  }
        #soc { display: none; }
        #product-images { display: none! important; }
        #mobile-product { display: block! important;}
        ul#big-footer { text-align: center; }
        #close { text-align: center; }
        #close-right { text-align: center; }
        #leftpromo, #midpromo, #rightpromo { margin-top: 20px;}
    }
