<div class="page">
<h1>{{ page.title }}</h1>
  {{ page.content }}
</div>



<script type="text/javascript" charset="utf-8">
$(document).ready(function() {
   $("img").addClass("scale-with-grid"); 
});
</script>